* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
.WebTravel{
    font-weight: bold;
}
.carousel-item{
    max-height: 600px;  
    
}
.image{
margin-top: 50px;
}

.gioithieu{
    position: relative;
}
.anhnen{
    height: 650px;
    width: 100%  ;
}


.text{
    
    color:white;
    font-size: 70px;
    position: absolute;
    top: 40px;
    left: 80px;
    font-weight: bold;

}
.lienhe{
    text-decoration: none;
}
a{
    text-decoration: none;
}

.gioithieu__btn{
    position: absolute;
    bottom: 100px;
    left: 580px;
    border-radius: 30px;
    width: 180px;
    height: 48px;
}